@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hackney";
  src: url("/fonts/hackney-webfont.woff2") format("woff2"), url("/fonts/hackney-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DIN Condensed";
  src: url("https://use.typekit.net/ley7ovp.css");
  font-display: swap;
}

body {
  @apply text-primary bg-bg font-abel antialiased flex flex-col min-h-screen bg-svg;
}

main {
  @apply flex-grow pb-4 md:pb-6;
}

*:focus-visible {
  @apply outline-none focus:ring focus:ring-offset-bg focus:ring-focus focus:rounded;
}

.headline {
  @apply font-hackney text-6xl pt-16 md:text-9xl md:pt-12 whitespace-nowrap;
}
