.custom-arrow-prev,
.custom-arrow-next {
  height: 100%;
  top: 10%;
}

.custom-arrow-prev {
  left: 3rem !important;
}
.custom-arrow-next {
  right: 3rem !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
